@font-face {
  font-family: "Articulat";
  src: url("/assets/fonts/ArticulatCF-Medium.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Articulat";
  src: url("/assets/fonts/ArticulatCF-Normal.otf");
  font-weight: 500;
}

body {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  font-family: "Articulat", helvetica, arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
