.container {
  height: calc(100% - var(--header-height));
  background-color: var(--song-background);
  width: 100%;
  padding: 75px var(--horizontal-padding);
  display: flex;
  flex-direction: column;
  gap: 95px;
  position: relative;
}

.cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.backgroundImage {
  position: absolute;
  top: calc(var(--header-height) * -0.9);
  right: calc(var(--horizontal-padding) - 2rem);
  opacity: 0.2;
  width: 650px;
  height: 650px;
}

.otherTitle {
  font-weight: 500;
  line-height: 19.2px;
}

/* iPads, Tablets */
@media (max-width: 768px) {
  .container {
    padding: 1rem 1rem;
  }

  .backgroundImage {
    position: absolute;
    top: calc(var(--header-height) * 0.5);
    right: 2rem;
    width: 250px;
    height: 250px;
  }
}
